cheatsheet do
  title {{ title }}               # Will be displayed by Dash in the docset list
  docset_file_name {{ filename }}    # Used for the filename of the docset
  keyword {{ keyword }}            # Used as the initial search keyword (listed in Preferences > Docsets)
  # resources 'resources_dir'  # An optional resources folder which can contain images or anything else

  # introduction 'My *awesome* cheat sheet'  # Optional, can contain Markdown or HTML

{% for category in categories %}
  category do
    id {{ category[0] }}

{% for entry in category[1] %}
    entry do
      name {{ entry.name }}
      command {{ entry.key }}
      notes {{ entry.notes }}
    end
{% endfor %}
  end
{% endfor %}
end
